// Colors

// Primary

$color-darkBlue: hsl(233, 26%, 24%);
$color-limeGreen: hsl(136, 65%, 51%);
$color-brightCyan: hsl(192, 70%, 51%);
$gradient-green2blue: linear-gradient(to right, $color-limeGreen, $color-brightCyan);
$gradient-green2blueLight: linear-gradient(to right, hsl(136, 65%, 71%), hsl(192, 70%, 71%));

// Neutral

$color-grayishBlue: hsl(233, 8%, 62%);
$color-lightGrayishBlue: hsl(220, 16%, 96%);
$color-veryLightGray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// Font 

// Weights
$fontWeight-thin: 300;
$fontWeight-regular: 400;
$fontWeight-bold: 700;
