@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
@import "hamburguer_menu";
@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  color: $color-darkBlue;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100vw;
  position: fixed;
  background-color: $color-white;
  padding: 1.25rem;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  // box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  &#nav-mobile {
    display: flex;
    #menuToggle {
      @include menuToggle;
    }
    #menu {
      @include menu;
    }
  }
  &#nav-desktop {display: none;}
}

#curtain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: 400ms opacity ease;
  background: linear-gradient(to bottom, rgba($color-darkBlue, 1), rgba(0,0,0,0.1));
}

.container {
  width: 100%;
  background-color: $color-white;
}

.button {
  padding: 1rem 2rem;
  border-radius: 100px;
  text-decoration: none;
  color: $color-white;
  font-weight: $fontWeight-bold;
  background: $gradient-green2blue;
  &:hover {
    background: $gradient-green2blueLight;
  }
}

header {
  padding-bottom: 6rem;
  background: {
    image: url('../images/bg-intro-mobile.svg');
    color: $color-veryLightGray;
    repeat: no-repeat;
    position: top center;
    size: contain;
  }
  text-align: center;
  img {
    margin-top: -3rem;
    width: 90%;
  }
  h1 {
    margin: 2rem 1rem 1rem;
    font-weight: $fontWeight-thin;
    font-size: 2.5rem;
  }
  p {
    width: 90%;
    margin: auto;
    margin-bottom: 2.5rem;
    color: $color-grayishBlue;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .button {
    padding: 0.8rem 1.75rem;
    font-size: 1rem;
    color: $color-veryLightGray;
  }
}

section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &#why {
    background-color: $color-lightGrayishBlue;
  }
  &#blog {
    background-color: $color-veryLightGray;
    h2 {
      margin-bottom: 2rem;
    }
  }
  h2 {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: $fontWeight-regular;
  }
  p {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    color: $color-grayishBlue;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
}

.choices {
  margin-bottom: 1.25rem;
  img {
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: $fontWeight-regular;
  }
  p {
    width: 85%;
    margin: auto;
  }
}

.article {
  max-width: 400px;
  margin: 0 2rem;
  background-color: $color-white;
  border-radius: 5px;
  overflow: hidden;
  & + .article {
    margin-top: 1.5rem;
  }
  img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  .article-content {
    width: 100%;
    padding: 1.75rem;
    text-align: left;
  }
  .article-author {
    width: 100%;
    margin-bottom: 0.5rem;
    float: left;
    text-align: left;
    font-size: 0.625rem;
  }
  h3 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: $fontWeight-regular;
  }
  .article-description {
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.125rem;
  }
}

footer {
  position: relative;
  padding: 3rem;
  padding-bottom: 5rem;
  background-color: $color-darkBlue;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-bottom: 2rem;
    img {
      height: 1.5rem;
    }
  }
  .social {
    margin-bottom: 2rem;
    a + a {
      margin-left: 0.75rem;
    }
    img {
      width: 1.75rem;
      height: auto;
    }
  }
  nav {
    margin-bottom: 3rem;
    ul {
      list-style: none;
      text-align: center;
      li {
        color: $color-veryLightGray;
        & + li {
          margin-top: 1.25rem;
        }
      }
    }
  }
  #trademark {
    margin-top: 2rem;
    color: $color-grayishBlue;
    font-size: 1rem;
  }
}

@media screen and (min-width: 900px) {
  .container {
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .wrap {
    // position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: unset;
    img {
      position: relative;
      top: -7.5rem;
      right: -9rem;
      width: 60%;
      float: right;
      // object-fit: contain;
    }
  }
  .navbar {
    &#nav-mobile {display: none;}
    &#nav-desktop {
      position: relative;
      width: 90%;
      max-width: 1100px;
      margin: auto;
      display: flex;
      ul {
        list-style: none;
        display: flex;
        li {
          position: relative;
          &::after {
            content: '';
            opacity: 0;
            transition: all 150ms ease;
          }
          &:hover::after {
            content: '';
            position: absolute;
            top: 53px;
            left: 0;
            width: 100%;
            height: 4px;
            opacity: 1;
            background: $gradient-green2blue;
          }
          a {
            color: $color-grayishBlue;
            transition: color 150ms ease;
            &:hover {
              color: $color-darkBlue;
            }
          }

          & + li {
            margin-left: 1.5rem;
          }
        }
      }
    }
  }
  #curtain {
    display: none;
  }
  header {
    margin-top: 93px;
    padding: 8rem;
    background: {
      image: url('../images/bg-intro-desktop.svg');
      position: center right -125%;
      size: 80%;
    }
    text-align: start;
    .content {
      width: 50%;
    }
    h1 {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 3.5rem;
    }
    p {
      margin: 0;
      margin-bottom: 2.5rem;
      font-size: 1.125rem;
    }
  }
  
  section {
    padding: 6rem 10rem;
    // padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    h2 {
      font-size: 2rem;
      margin: 0;
      margin-bottom: 1rem;
    }
    &#why {
      .section-header {
        width: 60%;
        // display: block;
        align-self: flex-start;
        margin-bottom: 4rem;
        p {
          margin: 0;
          font-size: 1rem;
        }
      }
      .section-content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
      }
    }
  }
}

.choices {
  margin-bottom: 0;
  img {
    margin-bottom: 2rem;
  }
  h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    // font-weight: $fontWeight-regular;
  }
  p {
    width: 100%;
    margin: 0;
    font-size: 1rem;
  }
}
